ion-thumbnail {
    --size: 100px ;
    --border-radius: 14px;
}

ion-img{
    width: 100%;
    max-height: 350px;
    overflow: hidden;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: auto;
}

.play-view{
    display: flex;
    justify-content: center ;
    align-items: center;
    margin: auto;
    height: 100vh;
        ion-card{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            max-width: 500px;
            min-width: 300px;
            height: 50%;
            gap: 2rem;
            background-color: rgba(0, 0, 0, 0.637);
            backdrop-filter: blur(5px);
            h1{
                font-weight: bold;
                margin: 0;
                text-transform: uppercase;
                color: white;
            }
            h3{
                margin: 0;
                text-transform: uppercase;
                color: white;
            }
            ion-button{
                width: 200px;
                height: 200px;
                --border-radius: 50%;
                --background: transparent;
                --background-hover: #9ce0be;
                --border-color: white;
                --border-width: 5px;
                --border-style: solid;
                ion-icon {
                    margin-left: 10px;
                    text-align: center;
                    font-size: 100px;
                }
            }
        }
        
}


.game-view{
    display: flex;
    justify-content: center ;
    align-items: center;
    margin: auto;
    width: 100vw;
    min-height: 100vh;
    background-image: url("../../../assets/map.jpg");
    background-size: cover;
    background-position: 50% 50%;
    
    ion-card{
        background-color: rgba(0, 0, 0, 0.637);
        backdrop-filter: blur(5px);
        max-width: 500px;
    }

    ion-card-content{
        display: flex;
        flex-direction: column;
        gap: 0;
        ion-button{
            --padding: 0;
            margin: 0;
        }
    }

    .game-container{
        width: 100vw;
        height: 100%;
        padding: 20px;

        .score{
            z-index: 1;
            color: white;
            margin: 0;
            h2{
                text-transform: uppercase;
                font-size: 40px;
                font-weight: bold;
            }
            h3{
                font-size: 30px;
            }
        }
    }
}
.play-view::before{
    content: "";
    background-image: url("../../../assets/map.jpg");
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(0.9);
    height: 100%;
    width: 100%;
    position: absolute;
}


  